body{
    margin: 0;
    padding: 0;
}

nav{
    background-color: blueviolet;
    color: white;
    font-weight: bold;
    font-size: 2rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}